@import url('https://fonts.googleapis.com/css?family=Open+Sans');

p {
	font-size: 20px;
}
p, input, textarea {
	font-family: "Open Sans", sans-serif;
}
button:focus, input:focus {
	outline: 0;
}
input {
	display: block;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-style: solid;
	border-bottom-color: #0000ff;
	border-bottom-width: 2px;
	border-radius: 2px;
	width: 400px;
	margin-bottom: 30px;
}
.inline {
	display: inline;
	width: 200px;
}
textarea {
	width: 400px;
	height: 200px;
	border-color: #0000ff;
	border-width: 2px;
	border-style: solid;
}
button {
	display: block;
}