<!DOCTYPE html>
<html>
    <head>
        <title>Contact ShineyDev</title>
        <link rel="icon" href="/imgs/shineydev.png">
        <link rel="stylesheet" href="/css/contact.css">
        <meta charset="utf8">
    </head>
    <body>
        <p>Contact ShineyDev</p>
    	<input id="first" class="inline" placeholder="First Name">
        <input id="last" class="inline" placeholder="Last Name">
        <input id="email" placeholder="Email Address or Discord Tag (should look like ShineyDev#3116)">
        <textarea id="message" placeholder="Contact Message"></textarea>
        <button>Contact!</button>
        <img src="/imgs/shineydev.png" alt="ShineyDev logo" width="128" height="128"/>
    </body>
</html>